.container
  - article.errors.full_messages.each do |m|
    %li= m
  = form_with(model: article, local: true) do |f|
    %div 
      = f.label :eyecatch
    %div
      = f.file_field :eyecatch
    %div
      = f.label :title, 'title'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, '内容'
    %div
      = f.text_area :content
    = f.submit '保存', class: 'btn btn-primary'
